Host github.com
    User git
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    IdentityFile ~/.ssh/travis_ci_id_rsa
    IdentitiesOnly yes

Host git.coding.net
    User git
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    IdentityFile ~/.ssh/coding_rsa
    IdentitiesOnly yes